@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    /* Colour Modes HSL(hue, saturation, lightness)*/
    --white: hsl(0, 0%, 100%);
    --dark-white: hsl(0, 0%, 95%);
    --black: hsl(0, 0%, 0%);
    --body-colour:var(--white);

    --live: hsl(0 100% 50%);
    --vshojo-pink: hsl(333.39 92% 50.98%);
    --vshojo-dark-gray: hsl(0 0% 16.47%);
    --vshojo-light-gray: hsl(0 0% 43.92%);

    /*========== Font and Typography ==========*/
    --body-font: "Poppins", sans-serif;
    --font-h1: 2rem;
    --font-h2: 1.65rem;
    --font-h3: 1.1rem;

    /*========== Font Weight ==========*/
    --font-bold: 800;
    --font-semibold: 700;
    --font-normal: 500;

    /*========== Navigation ==========*/
    --header-height: 6.5rem;

    /*========== Z-index ==========*/
    --z-popup: 10;
    --z-fixed: 100;
}

/*=============== BASE CSS ===============*/
*,
*::before,
*::after{
    box-sizing:border-box;
    padding:0;
    margin:0;
    transition: transform .3s cubic-bezier(0.4, 0, 0 .2, 1), 
                color 0.3s ease;
	/* UNCOMMENT FOR OVERFLOW DEBUGGING */
    /* outline: 2px solid hsl(120 100% 50%); */
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:var(--body-font);
}

h1{
    font-size:var(--font-h1);
    font-weight:var(--font-bold);
    letter-spacing:.175px;
    line-height:1.1;
}

h2{
    font-size:var(--font-h2);
    letter-spacing:.15px;
    font-weight:var(--font-semibold);
    line-height:1.275;
}

h3{
    font-size:var(--font-h3);
    font-weight:var(--font-bold);
    line-height:1.35;
}

p{
    font-weight:var(--font-normal);
    line-height:1.5;
}

a{
    text-decoration:none;
    color:var(--black);
}

a:hover{
    text-decoration:underline;
}

ul{
    list-style:none;
}

li{
    display:inline;
}

img{
    max-width:8%;
    height:8%;
    background-repeat:no-repeat;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.flex{
    display:flex;
}

.grid{
    display:grid;
    gap:1.5rem;
}

.container{
    max-width:1600px;
    width:100%;
    margin-inline:auto;
}

.wrapper{
    padding-inline:1.5rem;
}